<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}


{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
Статья
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ article.header }}</h1>
<table align="center">
           <tr>
               <td> <kbd> Дата </kbd></td>
               <td> <small>{{ article.timestamp|date:'d M Y' }}</small></td>
               <td><kbd>Тип</kbd></td>
               <td><small>{{ article.get_content_type_display }}</small></td>
               <td><kbd>Автор</kbd></td>
               <td><small>{{ article.author }}</small></td>
               <td><kbd>Категория</kbd></td>
               <td><small>{{ article.category.all|join:", " }}</small></td>
           </tr>

       </table>
<h4> {{ article.text|bad_words }} </h4>
{% if user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
     {{ form.as_p }}
     <button type="submit">Subscribe</button>
</form>
{% endif %}





{% endblock content %}